@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

html,
body {
    background-color: #d8d6d2;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 0;
    width: 100%;
}

canvas {
    z-index: 0;
}

#descDiv {
    position: absolute;
    /* Stay in place */
    display: flex;
    z-index: 1;
    width: 300px;
    padding: 35px;
    background-color: rgba(239, 239, 239, 0.9);
    border-style: solid;
    border-radius: 15px;
    border-color: #ff6315;
    border-width: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descTextNode {
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: #6666ff;
    margin: 0px;
    padding-bottom: 8px;
    text-decoration: underline;
    font-size: 15px;
}

.link {
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#popup {
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popupBox {
    display: flex;
    width: 60%;
    padding: 35px;
    background-color: rgba(239, 239, 239, 0.8);
    -moz-box-shadow: 0 0 5px 5px rgba(239, 239, 239, 0.8);
    -webkit-box-shadow: 0 0 5px 5px rgba(239, 239, 239, 0.8);
    box-shadow: 0 0 5px 5px rgba(239, 239, 239, 0.8);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popupTitle {
    font-family: "Scheherazade New", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.1rem;
    padding-bottom: 30px;
    text-align: center;
}

#popupText {
    line-height: 1.7rem;
    font-size: 1.5rem;
    font-family: "Playfair", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 15px;
}

.alert {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #000;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#menu {
    width: 100%;
    padding: 10px;
    background: #ffdc4a;
    border-bottom: solid 1.5px #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    width: 40px;
    margin-left: 20px;
}

.title > a {
    text-decoration: none;
    color: black;
}

.links {
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
}

.links > a {
    text-decoration: none;
    color: black;
}

#game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#graph {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

#index {
    width: 20%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-left: solid 1.5px #000000;
}

#index-menu {
    width: 100%;
    height: 40px;
    background: #454551;
    border-bottom: solid 1.5px #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
}

#index-menu > p {
    margin-left: 20px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#index-input {
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Lato", sans-serif;
    overflow-y: auto;
}

#index-input > p {
    margin: 20px 20px 0 20px;
    font-size: 14px;
}

#sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #6e6eff;
    background-image: url('img/sidebar-img_2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#sidebar > img {
    border-left: solid 1px #000000;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 60px 0;

}

#subpage-title {
    background: #efefef;
    border: 2px solid rgba(255, 99, 21, 0.8);
    -moz-box-shadow: inset 0 0 3px 3px rgba(255, 99, 21, 0.8);
    -webkit-box-shadow: inset 0 0 3px 3px rgba(255, 99, 21, 0.8);
    box-shadow: inset 0 0 3px 3px rgba(255, 99, 21, 0.8);
    border-radius: 40px;
    height: 60px;
    width: 90%;
    font-size: 2rem;
    font-family: "Scheherazade New", serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: "Playfair", serif;
    font-size: 1.1rem;
    padding-top: 15px;
}

.h2 {
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 1.1rem;
    padding-bottom: 10px;
}

#about-txt {
    background-color: #EFEFEF;
    -moz-box-shadow: 0 0 5px 5px #EFEFEF;
    -webkit-box-shadow: 0 0 5px 5px #EFEFEF;
    box-shadow: 0 0 5px 5px #EFEFEF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 40px;
}

.about-txt {
    padding: 40px;
}

#team {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    gap: 40px;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
    margin-top: 120px;
    width: 100%;
}

.ppl {
    display: flex;
    background-color: #EFEFEF;
    -moz-box-shadow: 0 0 5px 5px #EFEFEF;
    -webkit-box-shadow: 0 0 5px 5px #EFEFEF;
    box-shadow: 0 0 5px 5px #EFEFEF;
    width: 100%;
    border-radius: 5px;
    align-self: flex-start;
    justify-content: center;
}

.ppl-txt {
    padding: 20px;
    font-family: "Playfair", serif;
    font-size: 1.1rem;
}

.ppl-txt > a {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #000;
    text-decoration: none;

}

.ppl-txt > a:hover {
    font-style: italic;
}