@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
}

canvas {
    z-index: 0;
}

#descDiv {
    position: absolute;
    /* Stay in place */
    display: flex;
    z-index: 1;
    width: 300px;
    padding: 35px;
    background-color: rgba(239, 239, 239, 0.9);
    border-style: solid;
    border-radius: 15px;
    border-color: #ff6315;
    border-width: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descTextNode {
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: #6666ff;
    margin: 0px;
    padding-bottom: 8px;
    text-decoration: underline;
    font-size: 15px;
}

.link {
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#popup {
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popupBox {
    display: flex;
    width: 60%;
    padding: 35px;
    background-color: rgba(239, 239, 239, 0.9);
    border-style: solid;
    border-radius: 15px;
    border-color: #ff6315;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popupTitle {
    font-family: "Scheherazade New", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.1rem;
    padding-bottom: 30px;
    text-align: center;
}

#popupText {
    line-height: 1.7rem;
    font-size: 1.5rem;
    font-family: "Playfair", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 15px;
}

.alert {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #000;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#p5_loading {
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    width: 100%;
    height: 100%;
    left: 45%;
    top: 45%;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#graph {
    display: flex;
    width: 80%;
    height: 100%;
    position: absolute;
}

#index {
    width: 20%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-left: solid 1.5px #000000;
}

#index-menu {
    width: 100%;
    height: 39px;
    background: #454551;
    border-bottom: solid 1.5px #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
}

#index-menu > p {
    margin-left: 20px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#index-input {
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Lato", sans-serif;
    overflow-y: auto;
    padding-bottom: 30px;
}

#index-input > p {
    margin: 20px 20px 0 20px;
    font-size: 14px;
}
