@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');

body {
    overflow: auto;
}

#main {
    width: 80%;
    height: 100%;
}

#menu {
    height: 7%;
    min-height: 41px;
}

#sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #6e6eff;
    background-image: url('img/sidebar-img_2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#sidebar > img {
    border-left: solid 1px #000000;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#subpage-title {
    background: #efefef;
    border: 2px solid rgba(255, 99, 21, 0.8);
    -moz-box-shadow: inset 0 0 3px 3px rgba(255, 99, 21, 0.8);
    -webkit-box-shadow: inset 0 0 3px 3px rgba(255, 99, 21, 0.8);
    box-shadow: inset 0 0 3px 3px rgba(255, 99, 21, 0.8);
    border-radius: 40px;
    height: 60px;
    width: 90%;
    max-width: 1000px;
    font-size: 2rem;
    font-family: "Scheherazade New", serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.text {
    font-family: "Playfair", serif;
    font-size: 1.3rem;
    padding-top: 15px;
}

.h2 {
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 1.6rem;
    padding-bottom: 15px;
}

.h3 {
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    padding-top: 35px;
    padding-bottom: 35px;
}

.h3 > a {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#about-txt {
    background-color: #EFEFEF;
    -moz-box-shadow: 0 0 5px 5px #EFEFEF;
    -webkit-box-shadow: 0 0 5px 5px #EFEFEF;
    box-shadow: 0 0 5px 5px #EFEFEF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-txt {
    padding: 40px;
}

#team {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    max-width: 1000px;
    gap: 40px;
    margin-bottom: 40px;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
    margin-top: 120px;
    width: 100%;
}

.ppl {
    display: flex;
    background-color: #EFEFEF;
    -moz-box-shadow: 0 0 5px 5px #EFEFEF;
    -webkit-box-shadow: 0 0 5px 5px #EFEFEF;
    box-shadow: 0 0 5px 5px #EFEFEF;
    width: 100%;
    border-radius: 5px;
    align-self: flex-start;
    justify-content: center;
}

.ppl-txt {
    padding: 20px;
    font-family: "Playfair", serif;
    font-size: 1.2rem;
}

.ppl-txt > a {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #000;
    text-decoration: none;

}

.ppl-txt > a:hover {
    font-style: italic;
}


@media only screen and (max-width: 900px) {

    #body {
        overflow-x: hidden;
    }

    #main {
        height: 100%;
        width: 100%;

        overflow-x: hidden;
    }

    #menu {
        position: relative;
    }


    #sidebar {
        display: none;
    }

    #subpage-title {
        width: 85%;
        margin-top: 40px;

    }

    #about-txt {
        width: 85%;
    }

    #team {
        flex-direction: column;
        width: 87%;
    }

    .ppl {
        width: 95%;
        align-self: center;
    }

    .ppl-txt {
        padding: 25px;
    }

    .column-2 {
        margin-top: 0;
    }


}